* {
  font-family: Pragati Narrow;
}

/* body{
    background: #FFEBAA;
} */

.nav-item .nav-link {
  color: black;
  font-family: Pragati Narrow;
  font-size: 22px;
  margin: 0 1rem;
}

.nav-item a:hover {
  color: #ffebaa !important;
}

.nav-item .active {
  color: #ffebaa;
  font-style: bold;
}

footer {
  background-color: #ffebaa;
  margin: 0 auto;
  padding: 0 0;
}

.pizza {
  margin-bottom: -80px;
}

#error {
  color: red;
  margin-bottom: 1rem;
}

.message {
  margin: 2rem;
}

/* contact form*/
